#menu {
  float: right;
  padding-right: 50px;
  display: inline;
}  
.nav {
  position: relative;
  top: -9px;
  padding: 15px 0px 90px 0px;
  background-color: purple;
  margin-bottom: 0px;
  display: inline;
}
.nav ul,li,a,h1 {
  display: inline;
  padding-right: 10px;
  text-decoration:none;
  color: aqua;
}
