#menu {
  float: right;
  padding-right: 50px;
  display: inline;
}  
.nav {
  position: relative;
  top: -9px;
  padding: 10px 0px 50px 0px;
  background-color: purple;
  margin-bottom: 0px;
  display: inline;
  font-size:40;
}
.nav ul,li,a,h1 {
  display: inline;
  padding-right: 10px;
  text-decoration:none;
  color: aqua;
}
#title {
 text: center;
  dislpay: center ;
}
