#menu {
  float: right;
  padding-right: 50px;
}  
.nav {
  position: relative;
  top: -9px;
  padding: 9px 0px 50px 0px;
  background-color: purple;
  margin-bottom: 0px;
}
.nav ul,li,a {
  display: inline;
  padding-right: 10px;
  text-decoration:none;
  color: aqua;
}
